body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    background: rgb(255, 255, 255);
    color: pink;
}
.container{
    max-width: 800px;
    margin: 0 auto;
    background-color: wheat;
    padding: 20px 40px;
    box-shadow: 0 0 10px rgb(rgb(243, 165, 239), rgb(255, 186, 240), rgb(245, 115, 212));
    border-radius: 8px;
}
h1,h2{
    text-align: center;
    color: rgb(168, 245, 245);
}
h1{
    border-bottom: 2px solid #f76bc8;
}
img{
    width: 150px;
    border-radius: 100px;
}